body{
	background-color: black;
}
h1{
	font-size: 30px;
	color: #FFFFFF;
	font-family: verdana;
	font-kerning: 50;
}
h2{
	font-size: 20px;
	color: #d44242;
	font-family: verdana;
	text-transform: uppercase;
	letter-spacing: 3px;

}
p{
	font-size: 15px;
	color: white;
	font-family: georgia;
}
.big{
	font-size: 60px;
}

.uppercase{
	text-transform: uppercase;
}

.big.uppercase{
	color: peachpuff;
}

h1 span{
	letter-spacing: 3px;
}
li{
	font-size: 15px;
	color: white;
	font-family: georgia;
}
h3{
	font-size: 13px;
	color: #FFFFFF;
	font-family: verdana;
	text-transform: uppercase;
	letter-spacing: 3px;

}